.note-title {
    display: flex;
    align-items: center;

}

td .icon-title {
    margin: 10px;
    color: #ffffff;
    background-color: #009482;
    border-radius: 30px;
}

.text-ellipsis {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100;

}

.icon {
    padding: 10px;
    color: #000000;
}

.icon:hover {
    padding: 10px;
    color: #676666;
}

.icon:active {
    padding: 10px;
    color: #adadad;
}

.icon {
    cursor: pointer;
}

.note-table tbody tr {
    border-bottom: 1px solid #dddd;
    background-color: #f3f3f3;
}
.note-table tr {
    margin-bottom: 15px;
    overflow: hidden;
}

.note-table td, .note-table th {
    padding: 12px 25px;
}